@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$colors:(
    'mainDark': #262626,
    'secondDark': #262626bd,
    'dots': #2626268a,
    'specialDetail': #FF6666,
    'specialDetail2': #ED81FF,
    'mainWhite': #ffff,
    'selected': #FF6666,
    'bad': #ff2b2b,
    'good': #50e3c1,
    'normal': #e872ff
);
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
};
html{
    background-image: radial-gradient(map-get($map:$colors, $key: 'dots') 2px, transparent 0);
    background-size: 35px 35px;
    font-size: 80%;
}
#root{
    width: 100vw;
    height: 100vh;
}
.FullContainer{
    // background-color: #262626;
    height: 100%;
    max-width: 840px;
    margin: auto;
}